.header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: #1F2937;
	padding: 10px 75px 50px 75px;
}

.header-links {
	display: flex;
	font-size: 18px;
	color: #E5E7EB;
}

.header-links ul {
	list-style: none;
	display: flex;
	gap: 12px;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #E5E7EB;
}

a:hover {
	color: purple;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
	align-self: center;
}

.hero {
	display: flex;
	justify content: space-between;
	align-content: center;
	height: 300px;
	background-color: #1F2937;
	padding: 30px 75px;
}

.hero-left {
	width: 50%;
}

.hero-main-text {
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
}

.hero-secondary-text {
	font-size: 18px;
	color: #E5E7EB;
}

button {
	background-color: #3882F6;
	color: #F9FAF8;
	height: 35px;
	width: 110px;
	margin: 10px 0px;
	font-size: 20px;
	border: none;
	border-radius: 8px;
}

.hero-right {
	height: 200px;
	width: 350px;
	background-color: grey;
	color: white;
	text-align: center;
	padding: auto;
}

.hero-right p {               /* WILL REMOVE ONCE IMAGE IS OBTAINED*/
	padding: auto; 
	margin-top: 100px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-header {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

.info-cards {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.card {
	width: 150px;
}

.info-placeholder {
	height: 150px;
	border: 2px solid blue;
	border-radius: 8px;
	padding: auto;
}